<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Merhaba, Ben Oğuz</h1>
		<p>Blog sayfama hoşgeldiniz</p>
		<p>Bilgisayar Mühendisliği mezunuyum. Okumayı, araştırmayı ve yeni şeyler öğrenmeyi çok seviyorum</p>
		<p>Çalıştığım şirkette Ruby on Rails ile proje geliştirdiğimiz için blog sayfamı Rails ile kodlamak istedim. Bana <a href="https://twitter.com/oguzzbyt">@oguzzbyt</a> twitter adresinden ulaşabilirsiniz.</p>
	</div>
</div>